<html>
  <head>
    <title>Megalocyathus - {% block title %}{{request.blueprint.title()}}{% endblock %}</title>
    {% block javascripts %}
      <script src="{{url_for('static', filename='js/vendor/jquery-3.3.1.min.js')}}"></script>
      <script src="{{url_for('static', filename='js/util/api.js')}}"></script>
      <script src="{{url_for('static', filename='js/main.js')}}"></script>
    {% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
